.rotransform
aif/*
aif32/*
aif64/*
o/*
o32/*
o64/*
**/aif/*
**/aif32/*
**/aif64/*
**/aof/*
**/aof32/*
**/o/*
**/o32/*
**/o64/*
**/oz/*
**/oz32/*
**/oz64/*
**/rm/*
**/rm32/*
**/rm64/*
aof/*
aof32/*
h/modhead
oz/*
oz32/*
oz64/*
riscos-wimp-spriterender/h/modhead
riscos-wimp-textrender/h/modhead
rm/*
rm32/*
rm64/*
